html, body {
    min-height: 100%;
}

.ball {
    position: absolute;
    margin: auto;
    left: 30%;
}

.footer {
    padding-top: 4rem;
}

#benchmark {
    visibility: hidden;
}

#surface {
    position: absolute;
    left: 0;
    top: 90%;
    height: 0.1rem;
    background: gray;
    width: 100%;
    margin: 0;
}
