html, body {
    min-height: 100%;
}

.content {
    height: 300px;
    overflow: visible;
    margin-bottom: 100px;
}

.drop-container {
    height: 300px;
}

.ball {
    position: absolute;
}

.footer .container {
    padding-top: 100px;
}